<a href="https://colab.research.google.com/github/aak29/aak29/blob/main/MGGS314Week14.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
class Dog():
  """A simple attempt to model a dog."""
  
  def __init__(self, name, age):
    '''Initialize name and age attributes.'''
    self.name = name
    self.age = age
    
  def sit(self):
    '''Simulate a dog sitting in response to a command'''
    print(self.name.title() + " is now sitting.")
  
  def roll_over(self):
    '''Simulate rolling over in response to a command'''
    print(self.name.title() + " rolled over!")

In [2]:
my_dog = Dog('willie', 6)
print("My dog's name is " + my_dog.name.title() + ".")
print("My dog is " + str(my_dog.age) + " years old.")

My dog's name is Willie.
My dog is 6 years old.

In [3]:
my_dog.sit()
my_dog.roll_over()

Willie is now sitting.
Willie rolled over!

In [4]:
your_dog=Dog('lucy',3)
print("Your dog's name is " + your_dog.name.title() + ".")
print("Your dog is " + str(your_dog.age) + " years old.")
your_dog.sit()

Your dog's name is Lucy.
Your dog is 3 years old.
Lucy is now sitting.

# Exercise 1

In [7]:
class Restaurant():
    """a simple model of restaurant listings"""
    
    def __init__(self, restaurant_name, cuisine_type):
        '''Initialize restaurant_name and cuisine_type attributes'''
        self.restaurant_name = restaurant_name
        self.cuisine_type = cuisine_type
    
    def describe_restaurant(self):
        """ restaurant description for listings"""
        print (self.restaurant_name.title() +  " is a " + self.cuisine_type + " restaurant.")
        
    def open_restaurant(self):
        """indicates when a restaurant is open"""
        print(self.restaurant_name + " is open.")

In [8]:
my_rest = Restaurant("Joe's", "hash house")
print("Today's restaurant is " + my_rest.restaurant_name + ".")
print("Today's restaurant is a " + my_rest.cuisine_type +".")

my_rest.describe_restaurant()
my_rest.open_restaurant()

Today's restaurant is Joe's.
Today's restaurant is a hash house.
Joe'S is a hash house restaurant.
Joe's is open.

# Exercise 2
Three Restaurants: 
Start with your class from the previous exercise. 

â€¢	Create three different instances from the class, and call describe_restaurant() for each instance.

In [9]:
mean_queen = Restaurant('the mean queen', 'pizza')
mean_queen.describe_restaurant()

The Mean Queen is a pizza restaurant.

In [10]:
ludvigs = Restaurant("ludvig's bistro", 'seafood')
ludvigs.describe_restaurant()

Ludvig'S Bistro is a seafood restaurant.

In [11]:
mango_thai = Restaurant('mango thai', 'thai food')
mango_thai.describe_restaurant()

Mango Thai is a thai food restaurant.

# Exercise 3

In [14]:
class User():
    """Represent a simple user profile."""

    def __init__(self, first_name, last_name, username, email, location):
        """Initialize the user."""
        self.first_name = first_name.title()
        self.last_name = last_name.title()
        self.username = username
        self.email = email
        self.location = location.title()

    def describe_user(self):
        """Display a summary of the user's information."""
        print("\n" + self.first_name + " " + self.last_name)
        print("  Username: " + self.username)
        print("  Email: " + self.email)
        print("  Location: " + self.location)

    def greet_user(self):
        """Display a personalized greeting to the user."""
        print("\nWelcome back, " + self.username + "!")

In [15]:
alan_user = User('alan', 'katerinsky', 'akaterinsky', 'akaterinsky@example.com', 'new york')
alan_user.describe_user()
alan_user.greet_user()

Alan Katerinsky
  Username: akaterinsky
  Email: akaterinsky@example.com
  Location: New York

Welcome back, akaterinsky!

In [16]:
willie = User('willie', 'burger', 'willieburger', 'wb@example.com', 'alaska')
willie.describe_user()
willie.greet_user()

Willie Burger
  Username: willieburger
  Email: wb@example.com
  Location: Alaska

Welcome back, willieburger!

# The Car class

In [18]:
class Car():
    """ a simple attempt to represent a car."""
    
    def __init__(self, make, model, year):
        """Intialize attributes to describe a car"""
        self.make = make
        self.model = model
        self.year = year
        self.odometer_reading = 0
        
    def get_descriptive_name(self):
        """Return a neatly formatted descriptive name"""
        long_name = str(self.year) + ' ' + self.make + ' ' + self.model
        return long_name.title()
    
    def read_odometer(self):
        '''Print a statement showing the car's mileage'''
        print("This car has " + str(self.odometer_reading) + " miles on it.")

In [20]:
my_new_car =Car ('audi', 'a4', 2016)

In [21]:
my_new_car.get_descriptive_name()

'2016 Audi A4'

In [22]:
my_new_car.read_odometer()

This car has 0 miles on it.